Source: update-hub
Maintainer: Crypticverse <crypticversemc@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), python3 (>= 3.10), python3-pyqt5 (>= 5)

Package: update-hub
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Update any package or system with ease!
