[Desktop Entry]
Keywords=updates;system;
Type=Application
Name=Update Hub
Comment=Launch Update Hub
Exec=/usr/sbin/update-hub-pkexec
Icon=/usr/share/icons/hicolor/256x256/apps/update-hub.png
Terminal=false
Categories=Utility;System;Settings;PackageManager;
